
workspace "dynamic"{
      open-on-output "DP-5"
}

// workspace "chat"{
//   open-on-output "eDP-1"
// }

// window-rule{
//   match app-id="QQ"
//   open-on-workspace "chat"
// }
// window-rule{
//   match app-id=r#"\..*gram\.desktop$"#
//   open-on-workspace "chat"
// }


workspace "browser"{
  open-on-output "eDP-1"
}

window-rule{
  match app-id=r#"^zen$"#
  open-on-workspace "browser"
}


