
layer-rule {
    match namespace="waybar"
    match at-startup=true
    opacity 0.95
    block-out-from "screencast"
    geometry-corner-radius 12
    place-within-backdrop true
}


layer-rule{
    match namespace="linux-wallpaperengine"
    place-within-backdrop false
}
layer-rule {
    match namespace="^launcher$"

    geometry-corner-radius 12
}
layer-rule{
    match namespace="^noctalia-notification"
    
}
// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
    place-within-backdrop true
}
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

