layout {

    focus-ring {
        active-color   "#95d784"
        inactive-color "#091615"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#95d784"
        inactive-color "#091615"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#95d784"
        inactive-color "#15520f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#95d78480"
    }
}

recent-windows {
    highlight {
        active-color "#95d784"
        urgent-color "#ffb4ab"
    }
}
