window-rule{
    match is-focused=true
    match is-floating=true
    draw-border-with-background false
    border {
        off
    }
    focus-ring {
        // off
        width 1
    }
}
window-rule{
    match is-focused=false
    draw-border-with-background false
}
window-rule {
    opacity 1.0
    clip-to-geometry true
    // Rounded corners for a modern look.
    geometry-corner-radius 1
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule{
    match title="Gram — Settings"
    match title="扩展： (Aria2 下载桥) - 选择下载方式*"
    open-floating true
    open-focused true
}
window-rule{
    match app-id="gcr-prompter"
    // match title="rbw" "Unlock Login Keyring"
    open-floating true
    open-focused true
}
window-rule{
    match app-id="neovide"
    open-fullscreen true
    open-focused true
}
window-rule{
    match app-id="top.imsyy.splayer_next"
    match app-id="zen"
    open-fullscreen true
}
window-rule{
    match app-id="com.saivert.pwvucontrol"
    open-floating true
}
window-rule{
    match title="linux-wallpaperengine"
    match at-startup=true
    open-maximized true
    open-fullscreen true
    open-focused false
    draw-border-with-background false
    variable-refresh-rate true
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
// window-rule{
//     match app-id="wpsoffice"
//     open-floating true
// }

window-rule {
    match app-id="io.github.waylyrics.Waylyrics"
    open-floating true
    open-focused false
    opacity 1.0
    background-effect {
        blur false
        xray false
    }
    shadow {
        off
    }
}
window-rule{
    match title="termfilechooser"
    open-focused true
    open-floating true
}
window-rule {
    match title="Unlock Login Keyring"
    open-focused true
}

