window-rule{
    match is-focused=true
    match is-floating=true
    draw-border-with-background false
    border {
        off
    }
    focus-ring {
        // off
        width 1
    }
}
window-rule{
    match is-focused=false
    draw-border-with-background false
}
window-rule {
    opacity 1.0
    clip-to-geometry true
    // Rounded corners for a modern look.
    geometry-corner-radius 1
    background-effect {
        blur true
        xray false
    }
}

// blur {
//   passes 3        // more passes = stronger blur (default: 3)
//   offset 3.0      // sample distance per pass (default: 3.0)
//   noise 0.02      // grain overlay (default: 0.02)
//   saturation 1.5  // color saturation boost (default: 1.5)
// }

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule{
    match app-id=r#"zen"#
    open-maximized true
}
window-rule{
    match app-id=r#"neovide$"#
    opacity 0.7
}
window-rule{
    match title="Gram — Settings"
    open-floating true
    open-focused true
}
window-rule{
    match app-id="gcr-prompter"
    // match title="rbw" "Unlock Login Keyring"
    open-floating true
    open-focused true
}
window-rule{
    match app-id="neovide"
    open-fullscreen true
    open-focused true
}
window-rule{
    match app-id="com.saivert.pwvucontrol"
    open-floating true
}
window-rule{
    match title="linux-wallpaperengine"
    match at-startup=true
    open-maximized true
    open-fullscreen true
    open-focused false
    draw-border-with-background false
    variable-refresh-rate true
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
// window-rule{
//     match app-id="wpsoffice"
//     open-floating true
// }

window-rule {
    match app-id="io.github.waylyrics.Waylyrics"
    open-floating true
    open-focused false
    opacity 1.0
    background-effect {
        blur false
        xray false
    }
    shadow {
        off
    }
}
window-rule{
    match title="termfilechooser"
    open-focused true
    open-floating true
}
window-rule {
    match title="Unlock Login Keyring"
    open-focused true
}
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
// window-rule {
//     match is-active=false
//     opacity 0.9
//     geometry-corner-radius 12
//     clip-to-geometry true
// }
// window-rule {
//     match is-focused=false
//     opacity 0.9
//     geometry-corner-radius 12
//     clip-to-geometry true
// }
// window-rule {
//     match is-active-in-column=false
//     opacity 0.9
//     geometry-corner-radius 12
//     clip-to-geometry true
// }

